* {
  box-sizing: border-box;
}

:root {
  --translateDiv: 10;
}

.parent-div {
  border: 1px solid #000;
  overflow: hidden;
  position: relative;
}
.parent-inner-div {
  display: flex;
  /*   gap: 1rem; */
  transition: 400ms;
  transform: translateX(Var(--translateDiv));
}

.child-div {
  height: 100px;
  background-color: red;
  width: 100vw;
  flex-shrink: 0;
}
.child-div:nth-child(even) {
  background-color: green;
}

.icon1 {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon2 {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.displayToggle {
  visibility: hidden;
  background-color: blueviolet !important;
  opacity: 0;
  color: red !important;
  z-index: -10;
}
